/***** Global *****/
	body {
		background: #F5F4EF;
		color: #000305;
		font-size: 110%; /* Base font size: 14px */
		font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
	}
 
 .body {clear: both; margin: 0 auto; width: 800px;}
 
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */

table, th, td
{
	height:50px;
}

td{ width: 100px;}
 
h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}
 
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #C74350;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}
 
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}
 
strong, b {font-weight: bold;}
 
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}
 
	/* Banner */
	#banner h1 {font-size: 3.571em; line-height: .6;}
	#banner h1 a:link, #banner h1 a:visited {
		color: #000305;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		width: 427px;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}
 
	#banner h1 strong {font-size: 0.36em; font-weight: normal;}

	#logo {
	float: right;
	width: 147px;
	height: 43px;
	}
	
	/* Main Nav */
	#banner nav {
		background: #000305;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: 800px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
	#banner nav li {float: left; display: inline; margin: 0;}
	
	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		background: #C74451;
		color: #fff;
		text-shadow: none !important;
	}
	
	#banner nav li:first-child a {
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}
	
	/* Content */
	#content {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 760px;
 
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	
	#map-canvas {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 760px;
 
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	
	#chartdiv {
	width		: 800px;
	height		: 500px;
	font-size	: 11px;
}	

	/* Footer */
	#about {
	background: #fff;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	text-align: left;
	width: 760px;
 
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	
	.button1 {
   border-top: 1px solid #c74451;
   background: #c74451;
   background: -webkit-gradient(linear, left top, left bottom, from(#c74451), to(#c74451));
   background: -webkit-linear-gradient(top, #c74451, #c74451);
   background: -moz-linear-gradient(top, #c74451, #c74451);
   background: -ms-linear-gradient(top, #c74451, #c74451);
   background: -o-linear-gradient(top, #c74451, #c74451);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button1:hover {
   border-top-color: #c22333;
   background: #c22333;
   color: #ccc;
   }
.button1:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
#showRoute
{
	width:200px;
}

#showRouteMarkers, #updateRouteSelection
{
    visibility: hidden;
	margin-top: 15px;
}

#startDateDatetimepicker, #endDateDatetimepicker
{
    visibility: hidden;
}

.datePickerText
{
    visibility: hidden;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
}

.autoCenterMap
{
    visibility: hidden;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}

.autoDrawRoute
{
    visibility: hidden;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

.update
{
	float: left;
}

.route
{
	float: right;
	text-align: right;
}

.data
{
	float: left;
	margin-left:50px;
	border-top: 1px solid #c74451;
   background: #c74451;
   background: -webkit-gradient(linear, left top, left bottom, from(#c74451), to(#c74451));
   background: -webkit-linear-gradient(top, #c74451, #c74451);
   background: -moz-linear-gradient(top, #c74451, #c74451);
   background: -ms-linear-gradient(top, #c74451, #c74451);
   background: -o-linear-gradient(top, #c74451, #c74451);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

.data td
{
	color: white;
}
   